{% extends "base.html" %}
{% load static %}
{% block title %}リゼロ 考察 お問い合わせ{% endblock %}

        <!-- Page Header-->
        {% block header %}
        <header class="masthead" style="margin-bottom: 0px; background-image: url({% static 'assets/img/g.png' %})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading" style="color: black; text-shadow: 0px 0px 20px white;">
                            <h3>CONTACT</h3>
                            <h1 style="font-size: 70px;">お問い合わせ</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        {% endblock %}
        <!-- Main Content-->
        {% block contents %}
        <main class="mb-4" style="margin-top: 30px;">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <strong style="color: aliceblue;">サイトに関するご意見・ご要望がございましたら、以下のフォームよりお送りください。</strong>
                        {% if messages %}
                        <ul class="list-unstyled" style="list-style: none;">
                            {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                                {{ message }}
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <div class="my-5">
                            <form method="post">
                                {% csrf_token %}
                                {% for field in form %}
                                <div class="form-floating">
                                    <div class="form-group floating-label-form-group controls">
                                        {{ field.label_tag}}               
                                        <div style="border: 3px solid transparent; border-image: linear-gradient(to right, #0a9618, #db3fa7) 1; box-shadow: 0px 0px 5px 2px white;">{{ field }}</div>
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                {% endfor %}
                                <br>
                                    <div class="d-flex justify-content-center">
                                    <button type="submit"
                                            class="btn"
                                            id="sendMessageButton">送信</button>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% endblock %}

