{% extends 'base.html' %}
{% load static %}
{% block title %}リゼロ 考察 投稿成功{% endblock %}

      {% block header %}
      <header class="masthead" style="background-image: url({% static 'assets/img/o.png' %})">
          <div class="container position-relative px-4 px-lg-5">
              <div class="row gx-4 gx-lg-5 justify-content-center">
                  <div class="col-md-10 col-lg-8 col-xl-7">
                         <div class="site-heading" style="color: black; text-shadow: 0px 0px 20px white;">
                            <h3>SUCCESS</h3>
                            <h1>投稿成功</h1>
                        </div>
                  </div>
              </div>
          </div>
      </header>
      {% endblock %}

      {% block contents %}
      <div class="container">
        <div class="row">
            <h4 style="color: aliceblue; text-align: center; margin-bottom: 50px;">投稿が完了しました!</h4>  
        </dv>
      </dv>

      {% endblock %}
